# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# venv
venv/
.venv/
env/

# 求解输出
results/
*.lp
*.mps
*.sol
gurobi.log
l2d_pse300_*.pt

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
/timing_data_structures.xlsx
src_data_structures.xlsx
/log/
/other_alg
*.npz
